/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Jost:wght@300;400;500&display=swap");
/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.75;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #4c4d56;
  outline: none;
  visibility: visible;
  overflow-X: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: "";
}

body[dir="rtl"] {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow", sans-serif;
  color: #0e0e0e;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin-bottom: 0;
}

a, button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a, button, img, input {
  transition: all 0.3s linear;
  outline: 0;
}
img{
  max-width: 100%;
}
a:focus, button:focus, img:focus, input:focus {
  outline: 0;
}

a:focus {
  color: none;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #086ad8;
}

ul, ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

button, input[type="submit"] {
  cursor: pointer;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}

/*-- Common Classes --*/
.section,
.main-wrapper {
  float: left;
  width: 100%;
}

.section-padding-02 {
  padding-top: 120px;
}

@media only screen and (max-width: 1199px) {
  .section-padding-02 {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .section-padding-02 {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .section-padding-02 {
    padding-top: 60px;
  }
}

/*--Section Title--*/
.section-title .title {
  font-size: 48px;
  line-height: 54px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #0e0e0e;
}

@media only screen and (max-width: 767px) {
  .section-title .title {
    font-size: 30px;
    line-height: 36px;
  }
}

.section-title .title.white {
  color: #ffffff;
}

.section-title .sub-title {
  font-size: 14px;
  line-height: 30px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #086ad8;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.section-title .sub-title.white {
  color: #ffffff;
}

/*--Swiper Pagination--*/
.swiper-pagination .swiper-pagination-bullet {
  border-radius: 50%;
  background-color: #e8e8e8;
  width: 7px;
  height: 7px;
  transition: all 0.3s linear;
  position: relative;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  left: -7px;
  top: -7px;
  border: 1px solid #57585a;
  transform: scale(0);
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  border-radius: 50%;
  transition: all 0.3s linear;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #086ad8;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  transform: scale(1);
}

/*--  Preloader Styles  --*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999999;
}

#preloader .preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
}

#preloader .preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #086ad8;
  -webkit-animation: preloader 1.3s linear infinite;
          animation: preloader 1.3s linear infinite;
}

#preloader .preloader span:last-child {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

@-webkit-keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--
/*  2.4 - Form CSS
/*----------------------------------------*/
label {
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

/*Input Field & Select*/
input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]),
textarea {
  border: 1px solid #ebebeb;
  box-shadow: none;
  color: #415674;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 0;
  padding: 10px 25px;
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  line-height: 30px;
  font-weight: 600;
  transition: all 0.3s linear;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):focus,
textarea:focus {
  outline: none;
  border-color: #086ad8;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 0.95;
  font-size: 13px;
  color: #898c94;
  font-weight: 600;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 0.95;
  font-size: 13px;
  color: #898c94;
  font-weight: 600;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 0.95;
  font-size: 13px;
  color: #898c94;
  font-weight: 600;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 0.95;
  font-size: 13px;
  color: #898c94;
  font-weight: 600;
}

/*--
/*  2.3 - Button CSS
/*----------------------------------------*/
.btn {
  display: inline-block;
  overflow: hidden;
  transform: perspective(0) translateZ(0);
  background: linear-gradient(195deg, #1EC4BD 0%, #7beae5 100%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-color: transparent;
  color: #ffffff !important;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  height: 60px;
  line-height: 56px;
  padding: 0px 70px;
  border: 0;
  border-style: solid;
  box-shadow: none;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.btn::before {
  content: "";
  background: #ffffff;
  height: 50%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: -1;
}

.btn::after {
  content: "";
  background: #ffffff;
  height: 50%;
  width: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: -1;
}

.btn:focus, .btn:focus:active {
  box-shadow: none;
}

.btn:hover {
  color: #333333 !important;
}

.btn:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}

.btn:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

/*--
/*  2.1 - Header Top CSS
/*----------------------------------------*/
.header-section {
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff;
  width: 100%;
  z-index: 999;
}

@media only screen and (max-width: 991px) {
  .header-section {
    padding: 15px 0;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a img {
  width: 150px;
}

@media only screen and (max-width: 1199px) {
  .header-logo a img {
    width: 130px;
  }
}

.header-menu .main-menu {
  display: flex;
}

.header-menu .main-menu li {
  position: relative;
  padding: 30px 25px;
}

@media only screen and (max-width: 1199px) {
  .header-menu .main-menu li {
    padding: 30px 20px;
  }
}

.header-menu .main-menu li a {
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #0e0e0e;
}

.header-menu .main-menu li.active-menu > a {
  color: #086ad8;
}

.header-menu .main-menu li.active-menu > .menu-icon::after {
  color: #086ad8;
}

.header-menu .main-menu li .menu-icon::after {
  content: '\f16c';
  font-family: "flaticon";
  font-size: 10px;
  color: #94a0b9;
  margin-left: 5px;
  transition: all 0.3s linear;
}

.header-menu .main-menu li:hover > .menu-icon::after {
  color: #086ad8;
}

.header-menu .main-menu li:hover > a {
  color: #086ad8;
}

.header-menu .main-menu li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-menu .main-menu li .sub-menu {
  position: absolute;
  left: 0;
  top: 110%;
  width: 270px;
  background: #ffffff;
  box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  border-radius: 5px;
  border-top: 3px solid #086ad8;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: all 0.3s linear;
}

.header-menu .main-menu li .sub-menu li {
  padding: 0;
}

.header-menu .main-menu li .sub-menu li a {
  padding: 5px 25px;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  position: relative;
  z-index: 1;
}

.header-menu .main-menu li .sub-menu li.active > a {
  color: #086ad8;
}

.header-menu .main-menu li .sub-menu li:hover > a {
  color: #086ad8;
}

.header-meta {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header-search {
  margin-left: 25px;
  padding-left: 15px;
  position: relative;
}

.header-search::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #ebebeb;
  width: 1px;
  height: 30px;
}

.header-search .search-btn {
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  color: #333333;
  transition: all 0.3s linear;
}

.header-search .search-btn:hover {
  color: #086ad8;
}

.search-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 121;
  background: rgba(0, 0, 0, 0.9);
}

.search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-wrap .search-inner .search-close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s linear;
}

.search-wrap .search-inner .search-close:hover {
  transform: rotate(90deg);
  color: #086ad8;
}

.search-wrap .search-inner .search-cell {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.search-wrap .search-inner .search-cell .search-field-holder {
  width: 50%;
  margin: auto;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .search-wrap .search-inner .search-cell .search-field-holder {
    width: 60%;
  }
}

@media only screen and (max-width: 575px) {
  .search-wrap .search-inner .search-cell .search-field-holder {
    width: 80%;
  }
}

.search-wrap .search-inner .search-cell .search-field-holder .main-search-input {
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0 50px;
  text-transform: uppercase;
  background: transparent;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 2px solid #898989;
  text-align: center;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1199px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input {
    padding: 0 35px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input {
    font-size: 16px;
    padding: 0 15px;
  }
}

.search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-webkit-input-placeholder {
  opacity: 0.95;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-webkit-input-placeholder {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-webkit-input-placeholder {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-webkit-input-placeholder {
    font-size: 14px;
  }
}

.search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-moz-placeholder {
  opacity: 0.95;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-moz-placeholder {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-moz-placeholder {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-moz-placeholder {
    font-size: 14px;
  }
}

.search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-moz-placeholder {
  opacity: 0.95;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-moz-placeholder {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-moz-placeholder {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input::-moz-placeholder {
    font-size: 14px;
  }
}

.search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-ms-input-placeholder {
  opacity: 0.95;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-ms-input-placeholder {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-ms-input-placeholder {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .search-wrap .search-inner .search-cell .search-field-holder .main-search-input:-ms-input-placeholder {
    font-size: 14px;
  }
}

.header-cart .cart-btn {
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  background: none;
  color: #333333;
  border: 0;
  position: relative;
  transition: all 0.3s linear;
}

.header-cart .cart-btn:hover {
  color: #086ad8;
}

.header-cart .cart-btn .count {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background: #086ad8;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 400;
  display: inline-block;
  color: #ffffff;
  position: absolute;
  top: -4px;
  right: -12px;
}

.dropdown-cart {
  max-width: 370px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  border: 0;
  transform: translateX(-50%) !important;
  left: 50% !important;
  top: 57px !important;
}

@media only screen and (max-width: 1399px) {
  .dropdown-cart {
    left: 0 !important;
    transform: translateX(-85%) !important;
  }
}

@media only screen and (max-width: 991px) {
  .dropdown-cart {
    top: 56px !important;
  }
}

@media only screen and (max-width: 449px) {
  .dropdown-cart {
    left: 0 !important;
    transform: translateX(-72%) !important;
  }
}

.dropdown-cart .cart-items {
  height: 280px;
  overflow-y: auto;
}

.dropdown-cart .cart-items .single-cart-item {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-cart .cart-items .single-cart-item + .single-cart-item {
  margin-top: 30px;
}

.dropdown-cart .cart-items .single-cart-item .item-image img {
  border-radius: 50%;
}

.dropdown-cart .cart-items .single-cart-item .item-content {
  flex: 1;
  padding-right: 25px;
  padding-left: 20px;
}

.dropdown-cart .cart-items .single-cart-item .item-content .title {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  line-height: 1.3;
}

.dropdown-cart .cart-items .single-cart-item .item-content .quantity {
  font-size: 14px;
  color: #086ad8;
  line-height: 1.75;
  display: block;
}

.dropdown-cart .cart-items .single-cart-item .btn-close {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  right: 5px;
}

.dropdown-cart .cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.dropdown-cart .cart-total .label {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  display: block;
  color: #000000;
}

.dropdown-cart .cart-total .value {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  display: block;
  color: #086ad8;
}

.dropdown-cart .cart-btns {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.dropdown-cart .cart-btns .btn {
  height: 50px;
  line-height: 46px;
  box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  font-size: 16px;
  padding: 0 35px;
  width: 48%;
}

.dropdown-cart .cart-btns .btn.btn-2 {
  background: #000c29;
  transition: all 0.3s linear;
}

.dropdown-cart .cart-btns .btn.btn-2:hover {
  color: #0e0e0e;
}

.dropdown-cart .cart-btns .btn.btn-2:hover::before {
  background: #ffffff;
}

.dropdown-cart .cart-btns .btn.btn-2:hover::after {
  background: #ffffff;
}

.header-btn {
  margin-left: 25px;
}

.header-btn .btn {
  height: 45px;
  line-height: 45px;
  padding: 0 45px;
}

.header-toggle {
  margin-left: 30px;
}

.header-toggle button {
  background: none;
  border: 0;
  padding: 0;
}

.header-toggle button span {
  width: 25px;
  height: 2px;
  background: #086ad8;
  margin: 5px 0;
  display: block;
}

.header-toggle button span:last-child {
  margin-bottom: 0;
}

.sticky {
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  -webkit-animation: sticky 1s;
          animation: sticky 1s;
}

@-webkit-keyframes sticky {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes sticky {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*--
/*  2.3 - Header Top CSS
/*----------------------------------------*/
.offcanvas {
  background: #000c29;
  width: 320px;
}

@media only screen and (max-width: 575px) {
  .offcanvas {
    width: 280px;
  }
}

.offcanvas-header .close-btn {
  background: none;
  border: 0;
  font-size: 18px;
  color: #ffffff;
  transition: all 0.3s linear;
}

.offcanvas-header .close-btn:hover {
  transform: rotate(90deg);
  color: #086ad8;
}

.offcanvas-logo a img {
  width: 130px;
}

.offcanvas-menu {
  padding: 30px 0;
}

.offcanvas-menu .main-menu li {
  position: relative;
}

.offcanvas-menu .main-menu li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  padding: 5px 0px;
  position: relative;
}

.offcanvas-menu .main-menu li .menu-expand {
  position: absolute;
  right: 20px;
  top: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.offcanvas-menu .main-menu li .menu-expand::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}

.offcanvas-menu .main-menu li .menu-expand::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 16px;
  left: 50%;
  top: 50%;
  bottom: 0;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}

.offcanvas-menu .main-menu li:hover > a {
  color: #086ad8;
}

.offcanvas-menu .main-menu li.active > .menu-expand::after {
  height: 0;
}

.offcanvas-menu .main-menu li ul {
  padding-left: 6%;
  display: none;
}

/*--
/*  03 - Case Study CSS
/*----------------------------------------*/

.case-study-active .swiper-pagination {
  position: relative;
  margin-top: 50px;
}

.case-study-active .swiper-pagination .swiper-pagination-bullet {
  margin: 0 7px;
}

/*--
/*  03 - Testimonial CSS
/*----------------------------------------*/

.testimonial-02-active .swiper-pagination {
  position: relative;
  margin-top: 50px;
}

.testimonial-02-active .swiper-pagination .swiper-pagination-bullet {
  margin: 0 7px;
}

.testimonial-02-active .swiper-pagination .swiper-pagination-bullet::after {
  border: 1px solid #ffffff;
}

.testimonial-02-active .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/*--
/*  19 - Contact CSS
/*----------------------------------------*/
.techwix-contact-section .contact-wrap {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 60% 100%;
}

.techwix-contact-section .contact-wrap .contact-info .section-title .title {
  position: relative;
  padding-left: 45px;
}

.techwix-contact-section .contact-wrap .contact-info .section-title .title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background: #ff5538;
  height: 150px;
  width: 4px;
  transform: translateY(-50%);
}

.techwix-contact-section .contact-wrap .contact-info ul {
  padding-top: 15px;
}

.techwix-contact-section .contact-wrap .contact-info ul li {
  margin-top: 15px;
  padding-right: 65px;
}

.techwix-contact-section .contact-wrap .contact-info ul li:first-child {
  border-top: 0;
}

.techwix-contact-section .contact-wrap .contact-info ul li .contact-info-item .contact-info-icon i {
  font-size: 50px;
  color: #ff5538;
}

@media only screen and (max-width: 575px) {
  .techwix-contact-section .contact-wrap .contact-info ul li .contact-info-item .contact-info-icon i {
    font-size: 42px;
  }
}

.techwix-contact-section .contact-wrap .contact-info ul li .contact-info-item .contact-info-text {
  margin-left: 20px;
}

.techwix-contact-section .contact-wrap .contact-info ul li .contact-info-item .contact-info-text .title {
  font-size: 24px;
  line-height: 30px;
  color: #0e0e0e;
}

.techwix-contact-section .contact-wrap .contact-info ul li .contact-info-item .contact-info-text p {
  font-size: 16px;
  line-height: 30px;
  color: #0e0e0e;
}

.techwix-contact-section .contact-wrap .contact-form {
  background: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 110px;
}

@media only screen and (max-width: 1399px) {
  .techwix-contact-section .contact-wrap .contact-form {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 1199px) {
  .techwix-contact-section .contact-wrap .contact-form {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .techwix-contact-section .contact-wrap .contact-form {
    margin-left: 0;
    margin-top: 60px;
  }
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap {
  padding: 55px 40px;
}

@media only screen and (max-width: 1199px) {
  .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap {
    padding: 40px;
  }
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap {
  margin-bottom: 30px;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap .sub-title {
  font-size: 14px;
  line-height: 30px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff5538;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap .title {
  font-size: 42px;
  line-height: 54px;
  font-weight: 600;
  color: #333333;
}

@media only screen and (max-width: 1199px) {
  .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap .title {
    font-size: 32px;
    line-height: 48px;
  }
}

@media only screen and (max-width: 575px) {
  .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap .title {
    font-size: 28px;
    line-height: 40px;
  }
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form {
  margin-top: 25px;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
  height: 55px;
  line-height: 55px;
  border: 1px solid #ebebeb;
  padding-left: 15px;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-webkit-input-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-moz-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-moz-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-ms-input-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea {
  height: 135px;
  border: 1px solid #ebebeb;
  padding-left: 15px;
  resize: none;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea::-webkit-input-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea:-moz-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea::-moz-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea:-ms-input-placeholder {
  opacity: 0.95;
  font-size: 14px;
  color: #4c4d56;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .form-btn {
  margin-top: 25px;
}

.techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .form-btn .btn {
  font-size: 16px;
  width: 100%;
  height: 55px;
  line-height: 50px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .form-btn .btn {
    padding: 0 45px;
  }
}

.techwix-contact-section-02 .contact-wrap .contact-info .section-title .title::before {
  background: #086ad8;
}

.techwix-contact-section-02 .contact-wrap .contact-info ul li .contact-info-item .contact-info-icon i {
  color: #086ad8;
}

.techwix-contact-section-02 .contact-wrap .contact-form {
  background: #ffffff;
  box-shadow: 0px 0px 139px 0px rgba(0, 0, 0, 0.1);
}

.techwix-contact-section-02 .contact-wrap .contact-form .contact-form-wrap .heading-wrap .sub-title {
  color: #1EC4BD;
}

.contact-info-section .contact-info-wrap {
  margin-top: -30px;
}

.contact-info-section .contact-info-wrap .single-contact-info {
  background: #f8f8f8;
  padding: 50px 80px 75px;
  border-radius: 5px;
  margin-top: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact-info-section .contact-info-wrap .single-contact-info {
    padding: 50px 40px 60px;
  }
}

@media only screen and (max-width: 767px) {
  .contact-info-section .contact-info-wrap .single-contact-info {
    padding: 50px 30px 60px;
  }
}

.contact-info-section .contact-info-wrap .single-contact-info .info-content .title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-info-section .contact-info-wrap .single-contact-info .info-content p {
  font-size: 18px;
  line-height: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact-info-section .contact-info-wrap .single-contact-info .info-content p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .contact-info-section .contact-info-wrap .single-contact-info .info-content p {
    font-size: 18px;
  }
}

.techwix-contact-section-03 .contact-wrap {
  margin-bottom: 5%;
  position: relative;
  z-index: 5;
}

.techwix-contact-section-03 .contact-wrap .contact-form .contact-form-wrap .form-btn {
  text-align: center;
}

.techwix-contact-section-03 .contact-wrap .contact-form .contact-form-wrap .form-btn .btn {
  width: 70%;
}

.contact-map-section .contact-map-wrap {
  margin-bottom: -8px;
}

.contact-map-section .contact-map-wrap iframe {
  height: 550px;
  width: 100%;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

/*--
/*  16 - Pricing CSS
/*----------------------------------------*/
.techwix-pricing-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap {
  padding-top: 50px;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 45px 55px 70px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing::before {
  content: "";
  position: absolute;
  right: -38%;
  top: -42%;
  border: 30px solid #ffffff;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  z-index: -1;
}

@media only screen and (max-width: 1399px) {
  .techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing {
    padding: 45px 30px 50px;
  }
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-badge .title {
  font-size: 36px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #0e0e0e;
}

@media only screen and (max-width: 575px) {
  .techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-badge .title {
    font-size: 24px;
  }
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-price {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-price .currency {
  font-size: 30px;
  line-height: 54px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #1EC4BD;
  display: inline-block;
  position: relative;
  bottom: -10px;
}

@media only screen and (max-width: 991px) {
  .techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-price .currency {
    font-size: 25px;
  }
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-price .price {
  font-size: 90px;
  line-height: 54px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  display: inline-block;
  color: #1EC4BD;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-price .price span {
  font-size: 18px;
  font-weight: 500;
  color: #959595;
}

@media only screen and (max-width: 991px) {
  .techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-price .price {
    font-size: 60px;
  }
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-content {
  padding-top: 55px;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-content .pricing-list li {
  font-size: 18px;
  line-height: 30px;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-content .pricing-list li + li {
  margin-top: 10px;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-content .pricing-btn {
  padding-top: 40px;
}

.techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-content .pricing-btn .btn {
  height: 50px;
  line-height: 48px;
  box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  padding: 0 50px;
}

@media only screen and (max-width: 1399px) {
  .techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-content .pricing-btn .btn {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .techwix-pricing-section .pricing-wrap .pricing-content-wrap .single-pricing .pricing-content .pricing-btn .btn {
    padding: 0 30px;
    font-size: 16px;
  }
}

/*--
/*  20 - Page Banner CSS
/*----------------------------------------*/
.page-banner-section {
  padding-top: 85px;
  min-height: 670px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (max-width: 1199px) {
  .page-banner-section {
    min-height: 520px;
  }
}

@media only screen and (max-width: 991px) {
  .page-banner-section {
    min-height: 450px;
  }
}

@media only screen and (max-width: 767px) {
  .page-banner-section {
    min-height: 350px;
  }
}

.page-banner .title {
  font-size: 60px;
  line-height: 1.25;
  font-family: "Barlow", sans-serif;
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1199px) {
  .page-banner .title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .page-banner .title {
    font-size: 30px;
  }
}

/*--
/*  25.1 - Footer Widget CSS
/*----------------------------------------*/
.footer-widget-wrap {
  padding-top: 70px;
  padding-bottom: 75px;
}

.footer-widget {
  margin-top: 30px;
}

.widget-info {
  padding-top: 20px;
}

.widget-info ul li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.widget-info ul li .info-icon i {
  display: inline-block;
  color: #086ad8;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 2px;
}

.widget-info ul li .info-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #c4c5c7;
}

.footer-widget-about {
  margin-top: 15px;
}

.footer-widget-about p {
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  padding-right: 110px;
  margin-top: 20px;
}

@media only screen and (max-width: 1399px) {
  .footer-widget-about p {
    padding-right: 0;
  }
}

.footer-social .social {
  margin-top: 25px;
}

.footer-social .social li {
  display: inline-block;
}

.footer-social .social li + li {
  margin-left: 5px;
}

.footer-social .social li a {
  width: 35px;
  height: 35px;
  line-height: 37px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  background: #ffffff;
  color: #086ad8;
}

.footer-social .social li a:hover {
  color: #086ad8;
}

.footer-widget .footer-widget-title {
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.widget-link {
  padding-top: 22px;
}

.widget-link .link li {
  margin-top: 7px;
}

.widget-link .link li a {
  font-size: 14px;
  color: #c4c5c7;
  transition: all 0.3s linear;
}

.widget-link .link li a:hover {
  color: #086ad8;
  padding-left: 10px;
}

/*--
/*  25. Footer CSS
/*----------------------------------------*/
.footer-section {
  background: #010717;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer-logo {
  max-width: 170px;
}

.footer-copyright-area {
  border-top: 1px solid #1b202f;
  padding-top: 15px;
  padding-bottom: 30px;
}

.copyright-text {
  margin-top: 15px;
}

@media only screen and (max-width: 767px) {
  .copyright-text {
    text-align: center;
  }
}

.copyright-text p {
  font-size: 14px;
  color: #c4c5c7;
}


.footer-section-03 .footer-widget-wrap {
  padding-top: 140px;
}

.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 93, 224, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateX(130%);
  z-index: 99;
  transition: all 200ms linear;
}

.progress-wrap::after {
  position: absolute;
  content: "\f108";
  font-family: flaticon !important;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  color: #086ad8;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  transform: rotate(90deg);
  cursor: pointer;
  display: block;
  z-index: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #086ad8;
  stroke-width: 4;
  box-sizing: border-box;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}




#join_form span {
  display: block;
}
#join_form label {
  display: block;
  text-align: left;
  font-weight: normal;
  /* The container */
}
#join_form label input:not([type="checkbox"]),
#join_form label textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#join_form label textarea:focus,
#join_form label input:not([type="checkbox"]):focus {
  border: 2px solid #4fad32;
}
#join_form label textarea {
  resize: none;
}
#join_form .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
}
#join_form .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  /* Create a custom checkbox */
}
#join_form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  /* On mouse-over, add a grey background color */
}
#join_form .container:hover input ~ .checkmark {
  background-color: #ccc;
  /* When the checkbox is checked, add a blue background */
}
#join_form .container input:checked ~ .checkmark {
  background-color: #1EC4BD;
  /* Create the checkmark/indicator (hidden when not checked) */
}
#join_form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  /* Show the checkmark when checked */
}
#join_form .container input:checked ~ .checkmark:after {
  display: block;
  /* Style the checkmark/indicator */
}
#join_form .container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
